
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1><%= flat.persisted? ? "Edit" : "Add" %> a New Flat</h1>
      <%= simple_form_for(flat) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :number_of_guests %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>